<div class="sticky" ng-controller="TopbarCtrl">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a>My Site</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a ng-click="showAboutPage()">Show About Page</a></li>
        <li id="dropdownButton" class="has-dropdown not-click">
          <a href="">Right Dropdown Button</a>
          <ul id="dropdownMenu" class="dropdown">
            <li><a>First link in dropdown</a></li>
            <li><a>Second link in dropdown</a></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a>Left Nav Button</a></li>
      </ul>
    </section>
  </nav>
</div>
